body {
    max-width: 600px;
    min-width: 100px;
    height: 100%;
    margin: 30px auto;
    background-color: black;
    background-image: url(https://wallpapers.com/images/hd/twilight-aesthetic-49my6wse14zydfa6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgba(85, 119, 85, 0.5);
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
}

main .titulo {
    text-align: center;
    margin: auto;
    width: 100%;
    border-radius: 20px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.caixa-texto {
    margin: auto;
    text-align: center;
    width: 80%;
    min-width: 15vw;
    border-radius: 20px;
}

.caixa-texto input {
    margin: 5px auto;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 6vh;
}

.botoes {
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
    border-radius: 20px;
    width: 60%;
}

button {
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(68, 114, 68);
    color: white;
    font-size: 20px;
    box-shadow: 0px 0px 8px black;
    width: 60%;
    padding: 10px;
    text-align: center;
}