body {
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;
    background-color: black;
    background-image: url(https://cdn.pixabay.com/photo/2025/09/19/05/48/mountain-range-9842371_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.616);
    width: 100vw;
    margin-bottom: 10vh;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

header a {
    text-decoration: none;
    color: white;
    font-family: 'inter', sans-serif;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.118);
}

header a:active{
    background-color: rgb(78, 76, 76);
}

main {
    background-color: rgba(18, 57, 38, 0.527);
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    margin: auto;
}

main .titulo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 35px;
    margin: auto;
    width: 100%;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.907);
    font-size: 20px;
    font-family: sans-serif;
    font-family: 'poppins', sans-serif;
}

.caixa-texto {
    margin: auto;
    text-align: center;
    width: 90%;
    border-radius: 20px;
    color: rgb(12, 12, 118);
}

.caixa-texto input {
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70%;
    height: 6vh;
    background-color: rgba(7, 7, 7, 0.188);
    margin-bottom: 20px;
    color: white;
}

::placeholder {
    color: white;
    font-size: 16px;
    font-family: 'inter', sans-serif;
}

.caixa-texto p {
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    display: inline;
}

.texto-pequeno {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.texto-pequeno a {
    text-decoration: none;
    color: white;
    display: inline;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 15px;
}

a:active {
    color: rgb(158, 158, 167);
}

.botoes {
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

button {
    border-radius: 8px;
    color: black;
    font-size: 20px;
    width: 30%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:active {
    background-color: lightgray;
}

.texto-final {
    color: white;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

.texto-final a{
    text-decoration: none;
    color: white;
}

.texto-final a:hover{
    text-decoration: underline;
}

.texto-final a:active{
    color: rgb(158, 158, 167);
}