body {
    max-width: 550px;
    min-width: 100px;
    max-height: 100%;
    margin: 120px auto;
    background-color: black;
    background-image: url(https://cdn.pixabay.com/photo/2025/09/19/05/48/mountain-range-9842371_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgba(15, 15, 87, 0.267);
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
}

main .titulo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: auto;
    width: 100%;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.907);
    font-size: 15px;
    font-family: sans-serif;
}

.caixa-texto {
    text-align: center;
    width: 100%;
    min-width: 15vw;
    border-radius: 20px;
    color: rgb(12, 12, 118);
}

.caixa-texto input {
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 70%;
    height: 6vh;
    background-color: rgba(7, 7, 7, 0.188);
    margin-bottom: 20px;
}

::placeholder{
    color: white;
    font-size: 20px;
}

.caixa-texto p{
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    display: inline;
}

.texto-pequeno{
    text-align: center;
    padding-bottom: 20px;
}

.texto-pequeno a{
    text-decoration: none;
    color: white;
    display: inline;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 17px;
}

a:hover{
    color: rgb(199, 199, 229);
}

.botoes {
    padding-bottom: 30px;
    padding-top: 20px;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

button {
    border-radius: 8px;
    background-color: rgba(42, 37, 184, 0.359);
    color: white;
    font-size: 20px;
    width: 30%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}