* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}


@media screen and (min-width: 768px) {

    /* CORPO */
    body {
        background-color: #dee1e4;
        background-attachment: fixed;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 20px;
    }

    /* BOTOES DO MODO CLARO E ESCURO */
    body .claro-escuro {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: white;
        border-radius: 40px;
        border: none;
        font-size: 40px;
        padding: 5px;
        cursor: pointer;
    }

    /* BOTAO MODO CLARO */
    #modo-claro {
        display: none;
        background-color: rgb(225, 220, 220);
    }

    /* BOTAO MODO ESCURO */
    #modo-escuro {
        background-color: rgb(9, 9, 43);
    }

    /* CONTAINER PRINCIPAL AONDE AS DUAS DIVS ESTAO DENTRO */
    body main {
        width: 100%;
        max-width: 950px;
        min-height: 400px;
        height: auto;
        display: flex;
        align-items: stretch;
        justify-content: center;
        box-shadow: 0px 2px 5px black;
        border-radius: 15px;
    }

    /* TABELA DE FORMULARIO */
    body form {
        width: 50%;
        height: auto;
        padding: 20px;
    }

    /* FORM DO LADO ESQUERDO - WALLPAPER */
    #form1 {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: black;
        background-image: url(imagens/claro.png);
        background-size: cover;
        background-position: center center;
    }

    /* FORM DO LADO DIREITO - ENTRADA */
    #form2 {
        color: black;
        background-color: #dee1e4;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        flex-direction: column;
    }

    #form2 .titulo {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }

    #form2 .caixa-texto {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    /* DIV COM OS INPUT DE ENTRADA */
    .caixa-texto input {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid black;
        text-align: center;
        font-size: 16px;
    }

    /* BOTAO DE ENVIAR */
    .botoes {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .botoes input {
        padding: 12px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 17px;
        color: white;
        background-color: #2c2f33;
        width: 100%;
        max-width: 200px;
    }

    #botao:hover {
        background-color: rgb(83, 83, 116);
        color: white;
    }

    /* TEXTOS DE AJUDA NA PARTE DE BAIXO DA DIV */
    .texto-final {
        font-size: 15px;
        display: flex;
        justify-content: space-around;
    }

    .texto-final a {
        text-decoration: none;
        color: blue;
    }

    a:hover {
        text-decoration: underline;
        color: rgb(110, 110, 241);
    }

}

@media screen and (max-width: 767px) {
    body {
        background-color: #dee1e4;
        background-attachment: fixed;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding: 15px;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #form1{
        display: none;
    }

    #form2 {
        width: 100%;
        height: auto;
        border-radius: 15px;
        box-shadow: 0px 0px 9px white;
        padding-bottom: 20px;
    }

    body .claro-escuro {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: white;
        border-radius: 50px;
        border: none;
        font-size: 30px;
        padding: 4px;
        cursor: pointer;
    }

    /* BOTAO MODO CLARO */
    #modo-claro {
        display: none;
        background-color: rgb(225, 220, 220);
    }

    /* BOTAO MODO ESCURO */
    #modo-escuro {
        background-color: rgb(9, 9, 43);
    }

    body main {
        width: 100%;
        max-width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 5px black;
        border-radius: 15px;
        box-sizing: border-box;
        transition: 0.5s ease;
        margin-left: 20px;
        margin-right: 20px;
    }

    .titulo h1 {
        font-size: 70px;
        text-align: center;
        text-shadow: 0px 2px 2px black;
    }

    .caixa-texto {
        width: 90%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }

    .caixa-texto input {
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 20px;
        font-size: 20px;
        text-align: center;
        border: 1px solid black;
    }

    .botoes {
        text-align: center
    }

    .botoes input {
        width: 50%;
        max-width: 200px;
        height: auto;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
        background-color: #2c2f33;
        color: white;
        border: none;
        font-size: 20px;
        box-shadow: 0px 2px 3px black;
        box-sizing: border-box;
    }

    .texto-final {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .texto-final a {
        font-size: 15px;
        text-decoration: none;
        color: blue;
    }
}