* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ALTERADO: impede que padding quebre layout */
}


@media screen and (min-width: 699px) {

    /* CORPO */
    body {
        background-color: #dee1e4;
        background-attachment: fixed;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: 0.3s ease-in-out;
    }

    /* BOTOES DO MODO CLARO E ESCURO */
    body .claro-escuro {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: white;
        border-radius: 50px;
        border: none;
        font-size: 40px;
        cursor: pointer;
    }

    /* BOTAO MODO CLARO */
    #modo-claro {
        display: none;
        background-color: rgb(225, 220, 220);
    }

    /* BOTAO MODO ESCURO */
    #modo-escuro {
        background-color: rgb(9, 9, 43);
    }

    /* CONTAINER PRINCIPAL AONDE AS DUAS DIVS ESTAO DENTRO */
    body main {
        width: 750px;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 5px black;
        border-radius: 15px;
        box-sizing: border-box;
        transition: 0.5s ease;
    }

    /* TABELA DE FORMULARIO */
    body form {
        width: 100%;
        height: 100%;
        background-color: white;
        box-sizing: border-box;
        padding: 20px;
    }

    /* FORM DO LADO ESQUERDO - WALLPAPER */
    #form1 {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: black;
        background-image: url(imagens/claro.png);
        background-size: cover;
        background-position: center center;
        transition: 0.3s ease-in-out;
    }

    /* FORM DO LADO DIREITO - ENTRADA */
    #form2 {
        color: black;
        background-color: #dee1e4;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease-in-out;
    }

    #form2 .titulo {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }

    #form2 .caixa-texto {
        margin: auto;
    }

    /* DIV COM OS INPUT DE ENTRADA */
    .caixa-texto input {
        width: 90%;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid black;
        text-align: center;
        font-size: 16px;
    }

    /* BOTAO DE ENVIAR */
    .botoes {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .botoes input {
        padding: 12px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        font-size: 17px;
        background-color: #2c2f33;
        transition: 0.3s ease-in-out;
        color: white;
    }

    #botao:hover {
        background-color: rgb(75, 75, 237);
        color: white;
    }

    /* TEXTOS DE AJUDA NA PARTE DE BAIXO DA DIV */
    .texto-final {
        font-size: 15px;
        display: flex;
        justify-content: space-around;
    }

    .texto-final a {
        text-decoration: none;
        color: rgb(108, 114, 233);
    }

    a:hover {
        text-decoration: underline;
        color: blue;
    }

}

@media screen and (max-width: 700px) {
    body {
        background-color: #dee1e4;
        background-attachment: fixed;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: 0.3s ease-in-out;
    }

    #form2{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        transition: 0.3s ease-in-out;
        box-shadow: 0px 0px 9px white;
        box-sizing: border-box;
        padding: 20px;
    }

    body .claro-escuro {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: white;
        border-radius: 50px;
        border: none;
        font-size: 30px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    /* BOTAO MODO CLARO */
    #modo-claro {
        display: none;
        background-color: rgb(225, 220, 220);
    }

    /* BOTAO MODO ESCURO */
    #modo-escuro {
        background-color: rgb(9, 9, 43);
    }

    body main {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 5px black;
        border-radius: 15px;
        box-sizing: border-box;
        margin: 20px;
        transition: 0.5s ease;
    }

    .titulo h1 {
        font-size: 70px;
        text-align: center;
        text-shadow: 0px 2px 2px black;
    }

    .caixa-texto {
        width: 80%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }

    .caixa-texto input {
        width: 100%;
        box-sizing: border-box;
        padding: 25px;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius: 20px;
        font-size: 20px;
        text-align: center;
    }

    .botoes{
        text-align: center
    }

    .botoes input{
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 15px;
        background-color: #2c2f33;
        color: white;
        border: none;
        font-size: 20px;
        transition: 0.3s ease-in-out;
        box-shadow: 0px 2px 3px black;
    }

    .texto-final{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }

    .texto-final a{
        font-size: 15px;
        text-decoration: none;
        color: rgb(8, 8, 148);
    }
}