* {
    margin: 0px;
    padding: 0px;
}

/* CORPO */
body {
    background-color: #dee1e4;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s ease-in-out;
}

body .claro-escuro{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    border-radius: 50px;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

#modo-claro{
    display: none;
    background-color: rgb(225, 220, 220);
}

#modo-escuro{
    background-color: rgb(9, 9, 43);
}

/* CONTAINER PRINCIPAL AONDE AS DUAS DIVS ESTAO DENTRO */
body main {
    width: 750px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px black;
    border-radius: 15px;
    box-sizing: border-box;
}

/* TABELA DE FORMULARIO */
body form {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

/* FORM DO LADO ESQUERDO - WALLPAPER */
#form1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: black;
    background-image: url(imagens/claro.png);
    background-size: cover;
    background-position: center center;
    transition: 0.3s ease-in-out;
}

/* FORM DO LADO DIREITO - ENTRADA */
#form2 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

#form2 .titulo{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#form2 .caixa-texto{
    margin: auto;
}

.caixa-texto input{
    width: 90%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}

.botoes{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.botoes input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background-color: lightblue;
}

#botao:hover{
    background-color: rgb(75, 75, 237);
    color: white;
}

.texto-final{
    font-size: 15px;
    display: flex;
    justify-content: space-around;
}

.texto-final a{
    text-decoration: none;
    color: rgb(108, 114, 233);
}

a:hover{
    text-decoration: underline;
    color: blue;
}