* {
    margin: 0px;
    padding: 0px;
}

/* CORPO */
body {
    background-image: linear-gradient(to bottom, rgb(158, 209, 216), rgb(233, 231, 231), rgb(158, 209, 216));
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CONTAINER PRINCIPAL AONDE AS DUAS DIVS ESTAO DENTRO */
body main {
    width: 60%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px black;
    border-radius: 15px;
    box-sizing: border-box;
}

/* TABELA DE FORMULARIO */
body form {
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
}

/* FORM DO LADO ESQUERDO - WALLPAPER */
#form1 {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: black;
}

/* FORM DO LADO DIREITO - ENTRADA */
#form2 {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

#form2 .titulo{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#form2 .caixa-texto{
    margin: auto;
}

.caixa-texto input{
    width: 90%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
}

.botoes{
    margin: auto;
}

.botoes input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background-color: lightblue;
}

.texto-final{
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
}